body {
    background: yellow;
}

aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
}

alert{
    float:right;
    clear: both;
    width: 100px;
    margin: 20px 34%;
    text-align: right;
}