body {

    background-image: url("Female.jpg");
}

aside{
    float: left;
    background: navy;
    width: 20%;
    padding: 2.5%;
    height: 70vh;
    color: #fff;
}
div {
    color: #fff;
}

}
alert{
    color: #fff;
    float: right;
    width: 5%;
    padding: 2,5%;
    height: 10vh;

}
.alert-product{
    background: #fff;

    float: left;
    width: 15%;
    padding-left: 300,5%;
    height: 20vh;

}