{% extends "base.html" %}
{% block title %}Форма регистрации{% endblock %}
{% block content %}
    <h1>Форма регистрации</h1>
    <p>Пожалуйста заполните форму:</p>
    <form method="POST">
        {% csrf_token %}

        {{ form.name }}<br><br>
        {{ form.email }}<br><br>
        {{ form.age }}<br><br>
        {{ form.password }}<br><br>
        {{ form.pasrepeat }}<br><br>
        <h4>Пол{{ form.gender }}</h4><br>
        <button class="btn btn-success" type="submit" >Save</button>
    </form>
{% endblock %}
