body {
    background: yellow;
}

aside{
    float: left;
    background: navy;
    width: 20%;
    padding: 2.5%;
    height: 70vh;
    color: #fff
}
alert{
    float: right;
    width: 5%;
    padding: 2,5%;
    height: 10vh;
}
.alert-product{
    float: left;
    width: 15%;
    padding-left: 30,5%;
    height: 10vh;
}